.App {
  margin: 0;
  padding: 0;
  text-align: center;
  background-image: url("https://garden.spoonflower.com/c/10436957/p/f/m/2U-RMRnRqgT9ZqFGalf49bs1DJAlrx2PcyLYMivOnXkcVRn_FVQRNIDMxQ/Paw%20prints%20light%20blue%20-%20small%20scale.jpg");
   width: 100%;
   height:100%;
   min-height: 100vh;


}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}





